* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
	line-height: 1.7em;
	color: #555;
	background-color: #f5f5f5;
	font-size: 16px;
}

body,
.content-head,
.content-subhead {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
	color: #34495e;
}

.pure-img-responsive {
	max-width: 100%;
	height: auto;
	padding-bottom: 150px;
}



/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box { padding-right: 2em; }

.l-box-lrg {
	padding: 2em 5%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center { text-align: center; }




/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
	margin: 1em 0 0;
	font-weight: bold;
	font-size: 100%;
}

.pure-form input[type] {
	border: 2px solid #ddd;
	box-shadow: none;
	font-size: 100%;
	width: 100%;
	margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
	background-color: #a2ab58;
	color: white;
	padding: 0.5em 2em;
	border-radius: 5px;
}

a.pure-button-primary {
	background: white;
	color: #a2ab58;
	border-radius: 0;
	font-size: 120%;
}

/*
 * -- CONTAINER --
 * The container for all of the body content
 */

.container {
	position: relative;
	margin: auto;
	width: 100%;
	max-width: 1200px;
/*	height: 800px;*/
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
	padding: 0.5em 0;
	text-align: center;
	box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.home-menu {
	background: #fff;
}

.pure-menu.pure-menu-fixed {
	/* Fixed menus normally have a border at the bottom. */
	border-bottom: none;
	/* I need a higher z-index here because of the scroll-over effect. */
	z-index: 4;
	height: 50px;
	line-height: 1;
}

.pure-menu-sectn{
	height: 100%;
  	padding: 0 5%;
}

.pure-menu-left {
	float: left;
}

.pure-menu-icon {
	height: 26px;
	width: 60px;
	background-image: url('../images/icon.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 4px;
}

.pure-menu-mid {
	left: 50%;
	top: 12px;
	height: 40px;
	position: absolute;
	margin-left: -107px;
	text-align: center;
}

.pure-menu-right {
	float: right;
}

.pure-menu-list {
	line-height: 1.15em;
	top: 4px;
}

.home-menu .pure-menu-heading {
	display: none;
	color: #2a2c2e;
	font-weight: 400;
	font-size: 100%;
}

.home-menu .pure-menu-selected a {
	color: #83a81b !important;
}

.home-menu a {
	color: #83a81b;
	font-size: 13px;
}

.home-menu li a:hover,
.home-menu li a:focus {
	background: none;
	border: none;
	color: #627724;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
	background: transparent url('../images/hero-houses.jpg') 0 0 no-repeat;
	background-size: cover;
	z-index: 1;
	overflow: hidden;
	/* The following styles are required for the "scroll-over" effect */
	width: 100%;
	max-width: 1200px;
	height: 500px;
	top: 50px;
	position: fixed !important;
}

.splash {
	/* absolute center .splash within .splash-container */

	width: 80%;
	height: 50%;
	margin: auto;
	margin-top: 80px;
	position: absolute;
	top: 25px; left: 0; bottom: 0; right: 0;
	text-align: center;
	text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
	background-color: #2a2c2e;
	color: white;
	/*border: 3px solid white;*/
	/* padding: 1em 1.6em; */
	padding: .5em;
	/*border-radius: 5px;*/
}

.splash-heading {
	color: #9BCB5E;
	font-size: 20px;
	font-weight: bold;
	font-weight: 100;
	line-height: 1em;
	margin-top: .5em;
	margin-bottom: 0;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
	color: white;
	letter-spacing: 0.05em;
	opacity: 0.8;
	text-transform: none;
	margin: 0;
  	padding: 5px 0 12px;
}

/*
 * Content area (everything below the blue section)
 */

.content-wrapper {
	/* Required for the "scroll-over" effect */
	position: absolute;
	top: 500px;
	width: 100%;
	min-height: 12%;
	z-index: 2;
	background: white;
/*	padding: 20px 80px;*/
}

.content {
	/* border-bottom: 2px solid rgba(0, 0, 0, 0.05); */
	padding: 20px 5%;
}

/* MAIN CONTENT HEADERS (<h2>) */
.content-head {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-top: 0;
}

.content-head-date {
	color: #7FAB49;
	font-size: .75em;
}

.content-hr {
	width: 52px;
	height: 4px;
	background-color: #7FAB49;
	margin: auto;
}

/*MAP*/
.content-map {
	margin: 25px 0;
}


/* MODIFIER CLASS - for content-head inside a ribbon */
.content-head-ribbon { color: #34495e; }

/* CONTENT sub-headers (<h3>) */
.content-subhead { color:  #83a81b; }
.content-subhead i { margin-right: 7px; }


/* DARK BG AREAS */
.ribbon {
/*	background: rgba(162, 171, 88, .3); */
	padding-top: 0;
	color: #555;
}

.sidebar {
	display: none;
	padding-right: 2em !important;
}

.sidebar-panel {
	margin-bottom: 12em;
	background-color: #f5f5f5;
	min-height: 100px;
	padding: 10px;
	font-style: italic;
	font-size: 1em;
	line-height: 1.7;
	border-bottom: 4px solid #83a81b;
}

.sidebar-panel img {
	width: 100%;
}

.sidebar-panel p {
	margin: 0;
}

.panel {
	background-color: #f5f5f5;
	padding: 10px;
}

/* FOOTER */
.footer {
	color: #fff;
	background: #111;
	height: 40px;
	overflow: hidden;
}

.footer-wrap {
	/* width: 414px; */
    margin: auto;
    padding: 8px;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES ---------------------------------------------------
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

	/*body font size */
	body {
		font-size: 16px;
	}
	/* more padding */
	.content {
		padding: 2em 5%;
	}

	/* align the menu header */
	.home-menu {
		text-align: left;
	}
		.home-menu ul {
			float: right;
		}

	/* We increase the height of the splash-container */
/*    .splash-container {
		height: 500px;
	}*/

	/* We decrease the width of the .splash */
	.splash {
		width: 50%;
		height: 50%;
	}

	.splash-heading {
		font-size: 250%;
	}


	/*  remove the border-separator .l-box-lrg */
	.l-box-lrg {
		border: none;
	}

}



/*
 * -- DESKTOP (AND UP) MEDIA QUERIES ---------------------------------------------------
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */

@media (min-width: 400px) {
	.home-menu .pure-menu-heading {
		display: inline-block;;
	}
}


@media (min-width: 78em) {
	/* We increase the header font size even more */
	.splash-heading { font-size: 300%; }
}

@media (min-width: 768px) {
	.splash {
		margin-top: auto;
		min-width: 490px;
	}

	.splash-subhead {
	  	padding: 5px 0 26px;
	}

	.sidebar {
		display: block;
	}
}


a:link,
a:visited,
a:active { text-decoration: none; }

.footer a {
	color: #83a81b;
}

.splash-widget-outer { width: 88%;}

.splash-widget {
	font-size: 140%;
	line-height: 200%;
}

.splash-widget select {
	border: 2px solid white;
	background-color: transparent;
	color: black;
}

.scrollIndicator {
	width:10px;
	vertical-align: sub;
}

.impact {
	color: black;
}

.impact.impact--heavy {
	font-weight: 700;
}

strong {
	color: black;
	font-weight: 700;
}

a.pure-button-primary--cta {
	color: #fff;
	background-color: #7FAB49;
}

.container-ribbon {
	max-width: 800px;
}

.container-ribbon p:first-of-type {
    margin-top: -8px;
}

.pure-g [class *="pure-u"] {
	padding: 25px 0 0 0;
	font-family: Lato,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pure-g .l-box {
    padding: 1em;
}

.picker {
	position: relative;
	background-color: #7FAB49;
	color: #fff;
	padding: .5em;
	text-align: center;
	margin: auto;
	margin-top: 25px;
	font-size: 140%;
	line-height: 1.5;
}

.picker select {
    border: 2px solid white;
    background-color: transparent;
    color: black;
    max-width: 100%;
    margin: .5em 0;
}

.content-statistics {
	opacity: 0;
	transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.content-statistics.show {
	opacity: 1;
}

.spinner {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #000;
	opacity: .4;
}

.spinner img {
	position: absolute;
	top: 40%;
	top: calc(50% - 22px);
	left: 40%;
	left: calc(50% - 22px);
}

.hide {
	display: none !important;
}

.anchor:before {
  content:"";
  display:block;
  height:60px; /* fixed header height*/
  margin:-60px 0 0; /* negative fixed header height */
}

.charts {
	padding-top: 50px;
}

h4.content-head {
	margin-top: 1em;
}
